@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,700&family=Poppins:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
@-webkit-keyframes showRight {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes showRight {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}
*::-moz-selection {
  background-color: black;
  color: #f0eb30;
}
*::selection {
  background-color: black;
  color: #f0eb30;
}

body {
  background-color: #f1fff0;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  min-height: 100vh;
}
body .wrapper {
  flex: 1;
}
body h1 {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  text-align: center;
  color: #12708d;
  font-weight: 900;
  font-size: 38px;
  margin-bottom: 20px;
}
body h2 {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  text-align: center;
  color: #12708d;
  font-weight: 800;
  font-size: 30px;
  margin-top: 10px;
}
body h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: black;
  line-height: auto;
  text-align: left;
  letter-spacing: 2px;
}
body p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: black;
  text-align: justify;
  line-height: 20px;
  margin: 15px;
}

header .navbar {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  background: linear-gradient(11deg, #03a120 60%, #f0eb30);
}
header .navbar .varlogo {
  width: 110px;
  background-color: rgba(0, 0, 0, 0.01);
}
header .navbar .nav-link {
  transform: scale(0);
  -webkit-animation: backInLeft 0.15s ease-out both;
          animation: backInLeft 0.15s ease-out both;
}
header .navbar .nav-link1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
header .navbar .nav-link2 {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}
header .navbar .nav-link3 {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}
header .navbar .nav-link4 {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}
header .navbar .nav-link5 {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

footer {
  list-style-type: none;
}
footer .redes {
  background-color: rgb(52, 104, 90);
}
footer .redes h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0px;
}
footer .redes .redesFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
}
footer .redes .redesFlex .redes_icon {
  width: 48px;
  height: 48x;
}

.carousel-width {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(0, 0, 0, 0.7);
}
.carousel-width img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 32vw;
}
.carousel-width .carousel-caption h5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5215686275);
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexCenter .gridContenedor {
  width: 70vw;
  height: 50vh;
  display: grid;
  justify-content: normal;
  align-items: normal;
  justify-items: center;
  background-color: rgba(255, 251, 0, 0.0666666667);
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "ec  ec   ec   ec   .     fe    fe    fe    .     ho   ho   ho" "ec  ec   ec   ec   .     tr    tr    tr    tr    pt   pt   pt" ".   .    .    .    .     .     .     .     .     re   re   re";
}
.flexCenter .gridContenedor .caja {
  margin: 15px;
}
.flexCenter .gridContenedor .caja h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: black;
}
.flexCenter .gridContenedor .elijaCancha {
  grid-area: ec;
}
.flexCenter .gridContenedor .fecha {
  grid-area: fe;
}
.flexCenter .gridContenedor .horario {
  grid-area: ho;
}
.flexCenter .gridContenedor .tiempoReserva {
  grid-area: tr;
}
.flexCenter .gridContenedor .precioTotal {
  grid-area: pt;
}
.flexCenter .gridContenedor .reservar {
  grid-area: re;
}
.flexCenter .gridContenedor .form-select {
  margin-bottom: 10px;
}
.flexCenter .gridContenedor button {
  width: 85px;
  height: 38px;
}

.wrapper .gridContacto {
  display: grid;
  align-items: center;
  margin-top: 20px;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "tel1   tel2" "tel1   tel3" "wapp   wapp1" "email  email1";
  margin-bottom: 20px;
}
.wrapper .gridContacto .info_contacto {
  margin: 5px;
}
.wrapper .gridContacto .tel1 {
  grid-area: tel1;
}
.wrapper .gridContacto .tel2 {
  grid-area: tel2;
}
.wrapper .gridContacto .tel3 {
  grid-area: tel3;
}
.wrapper .gridContacto .wapp {
  grid-area: wapp;
}
.wrapper .gridContacto .wapp1 {
  grid-area: wapp1;
}
.wrapper .gridContacto .email {
  grid-area: email;
}
.wrapper .gridContacto .email1 {
  grid-area: email1;
}
.wrapper .ubicacion {
  display: grid;
  justify-items: center;
}
.wrapper .ubicacion h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: black;
  text-align: center;
  margin: 10px;
}
.wrapper .ubicacion a {
  margin-top: 5px;
  font-weight: 700;
}

.gridProductos {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 97%;
  margin-top: 20px;
  margin-left: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "caja1 caja2  caja3  caja4  caja5  caja6  caja7  caja8 " "caja9 caja10 caja11 caja12 caja13 caja14 caja15    .  ";
}
.gridProductos img {
  width: auto;
  height: 180px;
  max-width: 150px;
  margin: 3px;
}
.gridProductos div h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #16256c;
  text-align: center;
  letter-spacing: 2px;
  margin: 0px 2px 0px 2px;
}
.gridProductos div h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: black;
  text-align: center;
  letter-spacing: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.445);
  padding-top: 4px;
  width: 150px;
}
.gridProductos .caja_producto:hover {
  /* Agrego efecto de escalado a las cajas de producto*/
  scale: 130%;
}
.gridProductos .caja_producto .box_venta {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 200px;
  height: 270px;
  grid-template-rows: 183px 51px 35px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
}
.gridProductos .caja_producto .box_venta .box_venta_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gridProductos .caja1 {
  grid-area: caja1;
}
.gridProductos .caja2 {
  grid-area: caja2;
}
.gridProductos .caja3 {
  grid-area: caja3;
}
.gridProductos .caja4 {
  grid-area: caja4;
}
.gridProductos .caja5 {
  grid-area: caja5;
}
.gridProductos .caja6 {
  grid-area: caja6;
}
.gridProductos .caja7 {
  grid-area: caja7;
}
.gridProductos .caja8 {
  grid-area: caja8;
}
.gridProductos .caja9 {
  grid-area: caja9;
}
.gridProductos .caja10 {
  grid-area: caja10;
}
.gridProductos .caja11 {
  grid-area: caja11;
}
.gridProductos .caja12 {
  grid-area: caja12;
}
.gridProductos .caja13 {
  grid-area: caja13;
}
.gridProductos .caja14 {
  grid-area: caja14;
}
.gridProductos .caja15 {
  grid-area: caja15;
}
.gridProductos .caja16 {
  grid-area: caja16;
}

.flexNosotros {
  margin-top: 40px;
  margin-bottom: 40px;
}
.flexNosotros .flexqs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.flexNosotros .flexnc {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.flexNosotros .textns {
  width: 33%;
}
.flexNosotros .imgns {
  width: 28%;
}
.flexNosotros .imgns img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1770px) {
  /*para productos*/
  .gridProductos {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "caja1  caja2  caja3  caja4  caja5  caja6  caja7 " "caja8  caja9  caja10 caja11 caja12 caja13 caja14" "caja15  .      .       .       .      .      .  ";
  }
  /*para nosotros */
  .flexNosotros .textns {
    width: 37%;
  }
  .flexNosotros .imgns {
    width: 30%;
  }
}
@media screen and (max-width: 1550px) {
  /*para productos*/
  .gridProductos {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "caja1  caja2  caja3  caja4  caja5  caja6 " "caja7  caja8  caja9  caja10 caja11 caja12" "caja13 caja14 caja15  .      .       .   ";
  }
  .flexNosotros .textns {
    width: 38%;
  }
  .flexNosotros .imgns {
    width: 32%;
  }
}
@media screen and (max-width: 1350px) {
  /*para productos*/
  .gridProductos {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "caja1  caja2  caja3  caja4  caja5 " "caja6  caja7  caja8  caja9  caja10" "caja11 caja12 caja13 caja14 caja15";
  }
  /*para nosotros */
  .flexNosotros .textns {
    width: 40%;
  }
  .flexNosotros .imgns {
    width: 35%;
  }
}
@media screen and (max-width: 1120px) {
  /*para productos*/
  .gridProductos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "caja1  caja2  caja3  caja4 " "caja5  caja6  caja7  caja8 " "caja9  caja10 caja11 caja12" "caja13 caja14 caja15  .    ";
  }
  /*para index */
  .carousel-width {
    width: 100vw;
  }
  .carousel-width img {
    height: 40vw;
  }
  /*para nosotros */
  .flexNosotros {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .flexNosotros .flexqs {
    display: block;
  }
  .flexNosotros .flexnc {
    margin-top: 4vw;
    display: flex;
    flex-direction: column-reverse;
  }
  .flexNosotros .textns {
    width: auto;
  }
  .flexNosotros .imgns {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .flexNosotros .imgns img {
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 890px) {
  /*para productos*/
  .gridProductos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "caja1  caja2  caja3 " "caja4  caja5  caja6 " "caja7  caja8  caja9 " "caja10 caja11 caja12" "caja13 caja14 caja15";
  }
  /*para reserva*/
  .flexCenter .gridContenedor {
    width: 80vw;
    height: 70vh;
    margin-bottom: 10px;
    background-color: rgba(255, 251, 0, 0.0666666667);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "ec  ec   .    .  " "ec  ec   .    .  " "fe  fe   ho   ho " "tr  tr   .    .  " "pt  pt   .    re ";
  }
  .flexCenter .gridContenedor .reservar {
    margin-top: 37px;
  }
}
@media screen and (max-width: 675px) {
  /*para productos*/
  .gridProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "caja1  caja2 " "caja3  caja4 " "caja5  caja6 " "caja7  caja8 " "caja9  caja10" "caja11 caja12" "caja13 caja14" "caja15    .  ";
  }
}
@media screen and (max-width: 455px) {
  /*para productos*/
  .gridProductos {
    margin-top: 20px;
    margin-left: 3px;
  }
  .gridProductos .caja_producto .box_venta {
    width: 170px;
    height: 270px;
    margin: 2px;
    margin-bottom: 10px;
  }
  .gridProductos div h2 {
    font-size: 17px;
  }
  .gridProductos div h3 {
    width: 127px;
  }
}/*# sourceMappingURL=estilo.css.map */