// Configuración de etiquetas generales dentro del body
body{
    background-color: #f1fff0;
    @include flexProp(column,normal,normal);
    min-height:100vh;

    .wrapper{
        flex:1;       
    }
    h1{
        @include fontTitles();
        font-weight:900;
        font-size:38px;
        margin-bottom: 20px;
    }
    h2{
        @include fontTitles();
        font-weight: 800;
        font-size: 30px;
        margin-top:10px;
    }
    h3{
        @include fontProp($fontRoboto,normal,600,15px,black);
        line-height: auto;
        text-align: left;
        letter-spacing: 2px;
        
    }
    p{
        @include fontProp($fontRoboto,normal,600,18px,black);
        text-align: justify;
        line-height: 20px;
        margin: 15px;
    }
}