footer{
    list-style-type: none;
    .redes{
        background-color: $footerColor;
        padding-bottom: 5px;
        h2{
            @include fontProp($fontRoboto,normal,600px,18px,white);
            text-align: center;
            padding: 5px 0px 0px 0px;
            margin: 0em;
        }
        .redesFlex{
            @include flexProp(row,space-around,normal);
            margin-left: 10.5vw;
            .redes_icon{
                @include size(48px,48x);
                    text-decoration: none;                   
            }
            .face{
                text-decoration: none;  
                &:after{
                    position: relative;
                    top:3px;
                    content: 'facebook/VarPadel';
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                    text-align: center;
                    opacity: 0;
                }                              
                &:hover{
                    animation: efecto 2s ease-out both;
                    &::after{
                        opacity: 1;
                        transition: opacity 2s ease-in-out 0.4s;
                    }
                }
                
            }
            .insta{
                @extend .face;
                &:after{
                    content: 'instagram/VarPadel';
                    top:2px;
                }
            }
            .twitter{
                @extend .face;
                &:after{
                    content: 'twitter/VarPadel';
                    top:2px;
                }
            }
        }
    }
}
@keyframes efecto{
    0%{
        transform:translateX(0px) scale(1)
    }
    100%{
        transform:translateX(-6vw) scale(1)
    }
}
