header{
    .navbar{
        font-size: 18px;
        font-weight: bolder;
        color: aliceblue;
        margin-bottom: 30px;
        background: linear-gradient(11deg, #03a120 60%, #f0eb30);
        .varlogo{
            width: 110px;
            background-color:rgba(0, 0, 0, 0.010);
        }
    }
}