.flexCenter{
    @include flexProp(row,center,center);
    .gridContenedor{
        @include size(70vw,50vh);
        @include gridProp(normal,normal,center);
        background-color: #fffb0011;
        border: 1px solid rgba(0, 0, 0, 0.178);
        border-radius: 10px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "ec  ec   ec   ec   .     fe    fe    fe    .     ho   ho   ho"
        "ec  ec   ec   ec   .     tr    tr    tr    tr    pt   pt   pt"
        ".   .    .    .    .     .     .     .     .     re   re   re";
        .caja{
            margin: 15px;
            h4{
                @include fontProp($fontPoppins,normal,600,10px,black);
            }      
        }

        // @each $gridContacto in tel1,tel2,tel3,wapp,wapp1,email,email1{
        //     .#{$gridContacto}{
        //         grid-area:$gridContacto;
        //     }
        // }
        .elijaCancha{
            grid-area: ec;
        }
        .fecha{
            grid-area: fe
        }
        .horario{
            grid-area: ho;
        }
        .tiempoReserva{
            grid-area: tr;
        }
        .precioTotal{
            grid-area: pt;
        }
        .reservar{
            grid-area: re;
        }
        .form-select{
            margin-bottom: 10px;
        }
        button{
            @include size(85px,38px);
        }
    }
}