.flexCenter{
    @include flexProp(row,center,center);
    .gridContenedor{
        @include size(70vw,50vh);
        @include gridProp(normal,normal,center);
        background-color: #fffb0011;
        border: 1px solid rgba(0, 0, 0, 0.178);
        border-radius: 10px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "ec  ec   ec   ec   .     fe    fe    fe    .     ho   ho   ho"
        "ec  ec   ec   ec   .     tr    tr    tr    tr    pt   pt   pt"
        ".   .    .    .    .     .     .     .     .     re   re   re";
        .caja{
            margin: 15px;
            h4{
                @include fontProp($fontNoto,italic,400,12px,black);
                margin-left: 5px;
            }      
        }
        @each $classReserva,$gaReserva in $reserva{
            .#{$classReserva}{
                grid-area: $gaReserva;
            }
        }
        .form-select{
            margin-bottom: 10px;
        }
        button{
            @include size(85px,38px);
        }
    }
}