.carousel-width{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(0, 0, 0, 0.7);
    img{
        object-fit: cover;
        height: 32vw;
        }
    .carousel-caption{
        h5{
            @include fontProp($fontRoboto,normal,500,18px,white);
            margin:auto;
            background-color: #00000085;
            text-align: center;
            width:max-content;
        }
    }
}
.p_inicio{
    margin-bottom: 10px;
}

