.gridProductos{
    @include gridProp(center,center,center);
    width: 97%;
    margin-top: 20px;
    margin-left: 10px;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "caja1 caja2  caja3  caja4  caja5  caja6  caja7  caja8 "
    "caja9 caja10 caja11 caja12 caja13 caja14 caja15    .  ";
    img{
        @include size(auto,180px);
        max-width: 150px;
        margin: 3px;
    }
    div {
        h2{
            @include fontProp($fontRoboto,normal,bold,18px,#16256c);
            text-align: center;
            letter-spacing: 2px;
            margin: 0px 2px 0px 2px;
        }
        h3{
            @include fontProp($fontRoboto,normal,900,16px,black);
            text-align: center;
            letter-spacing: 2px;
            border-top: 1px solid rgba(0, 0, 0, 0.445);
            padding-top: 4px;
            width:150px;
        }
    }
    .caja_producto{
        &:hover{
        /* Agrego efecto de escalado a las cajas de producto*/
        scale: 130%;
        }
        .box_venta{
            @include gridProp(center,center,center);
            @include size(200px,270px);
            grid-template-rows: 183px 51px 35px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: white;
            margin:10px;
            .box_venta_img{
                @include flexProp(row,center,center);
            }
        }
    }
    @for $item from 1 through 16{
        .caja#{$item}{
            grid-area:caja#{$item};
        }
    }
}