@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,700&family=Poppins:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

$fontNoto: 'Noto Sans', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontRoboto:'Roboto', sans-serif;
$hColor: #12708d;

@mixin fontTitles{
    font-family:$fontNoto;
    font-style:normal;
    text-align:center;
    color: $hColor;
}
@mixin fontProp($family,$style,$weight,$size,$color){
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
@mixin flexProp($fdirection,$jcontent,$aitems){
    display: flex;
    flex-direction: $fdirection;
    justify-content: $jcontent;
    align-items: $aitems;
}
@mixin size($width,$height){
    width: $width;
    height: $height;
}


@keyframes showRight {
    0% {
        transform:scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes backInRight{
    0%{
        -webkit-transform:translateX(2000px) scale(.7);transform:translateX(2000px) scale(.7);opacity:.7
    }
    80%{
        -webkit-transform:translateX(0) scale(.7);transform:translateX(0) scale(.7);opacity:.7
    }
    to{
        -webkit-transform:scale(1);transform:scale(1);opacity:1
    }
}

@keyframes backInLeft{
    0%{
        -webkit-transform:translateX(-2000px) scale(.7);transform:translateX(-2000px) scale(.7);opacity:.7
    }
    80%{
        -webkit-transform:translateX(0) scale(.7);transform:translateX(0) scale(.7);opacity:.7
    }
    to{
        -webkit-transform:scale(1);transform:scale(1);opacity:1
    }
}